venv38
venv39
venv310
venv311

wslvenv38
wslvenv39
wslvenv310
wslvenv311

__pycache__
.pytest_cache

.vscode

.vagrant

*.ico
!favicon.ico

*.onnx
!u2netp.onnx

*.png
*.jpg
*.jpeg
*.bmp
*.gif
!Test_1.png
!Test_2.png

TEMP